{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>About - Lumera Bootstrap Template</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <link rel="alternate" hreflang="uz" href="https://lumera.pythonanywhere.com/uz/" />
  <link rel="alternate" hreflang="ru" href="https://lumera.pythonanywhere.com/ru/" />
  <link rel="alternate" hreflang="en" href="https://lumera.pythonanywhere.com/en/" />
  <link rel="alternate" hreflang="x-default" href="https://lumera.pythonanywhere.com/" />

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon1.png' %}" rel="icon">
  <link href="{% static 'assets/img/favicon1.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="{% static 'https://fonts.googleapis.com' %}" rel="preconnect">
  <link href="{% static 'https://fonts.gstatic.com' %}" rel="preconnect" crossorigin>
  <link href="{% static 'https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap' %}" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

  <style>
    .lang-form select {
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 6px 10px;
        font-size: 14px;
        cursor: pointer;
        outline: none;
        transition: 0.2s;
    }
    .lang-form select:hover {
        background-color: #e8e8e8;
    }
    </style>
  <!-- =======================================================
  * Template Name: Lumera
  * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
  ======================================================== -->
  
</head>

<body class="about-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">

      <a href="{% url 'home' %}" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">Lumera</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
          <li><a href="{% url 'About:About' %}" class="active">{% trans 'About' %}</a></li>
          <a href="{% url 'category' %}"><span>{% trans 'Categories' %}</span></a>
        </li>
        <li><a href="{% url 'contact' %}">{% trans 'Contact' %}</a></li>
      
            </ul>
          
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <form action="{% url 'set_language' %}" method="post",  class="lang-form">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <select name="language" onchange="this.form.submit()">
            <option value="ru" {% if  request.LANGUAGE_CODE == 'ru' %}selected{% endif %}>Русский</option>
            <option value="uz" {% if  request.LANGUAGE_CODE == 'uz' %}selected{% endif %}>O‘zbekcha</option>
            <option value="en" {% if  request.LANGUAGE_CODE == 'en' %}selected{% endif %}> English</option>
            
        </select>
        
    </form>
    <nav class="navbar">
      <div class="container">
        <a href="{% url 'category_list' %}" class="navbar-brand"></a>
        <div class="auth-menu">
          {% if user.is_authenticated %}
          
         
            <a href="{% url 'login' %}">{% trans 'Login' %}</a> /
            <a href="{% url 'register' %}">{% trans 'Register' %}</a>
          {% endif %}
        </div>
      </div>
    </nav>
    
      <div class="header-social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>

    </div>
  </header>

  <main class="main">
    {% block content %}

    
    {% endblock %}
  </main>

  <footer id="footer" class="footer dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="{% url 'home' %}" class="logo d-flex align-items-center">
            <span class="sitename">Lumera</span>
          </a>
          <div class="footer-contact pt-3">
            <p></p> <!--ko'cha nomi-->
            <p></p> <!--Shahar nomi-->
            <p class="mt-3"><strong>{% trans 'Phone' %}:</strong> <span>mavjud emas</span></p>
            <p><strong>{% trans 'Email' %}:</strong> <span>info@example.com</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>{% trans 'Useful Links' %}</h4>
          <ul>
            <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
            <li><a href="{% url 'About:About' %}">{% trans 'About us' %}</a></li>
            <li><a href="{% url 'terms_of_use' %}">{% trans 'Terms of service' %}</a></li>
            <li><a href="{% url 'privacy_policy' %}">{% trans 'Privacy policy' %}</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>{% trans 'Our Services' %}</h4>
          <ul>
            <li><a href="#">{% trans 'Web Design' %}</a></li>
            <li><a href="#">{% trans 'Web Development' %}</a></li>
            <li><a href="#">{% trans 'Product Management' %}</a></li>
            <li><a href="#">{% trans 'Marketing' %}</a></li>
            <li><a href="#">{% trans 'Graphic Design' %}</a></li>
          </ul>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>{% trans 'Copyright' %}</span> <strong class="px-1 sitename">Lumera</strong> <span>{% trans 'All Rights Reserved' %}</span></p>
    </div>
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>